body{
    font-family: 'Roboto', sans-serif;
    background-color: #e9e288;
}

/* navbar css starts here  */
.bg-light{
    background-color: #eb9f76!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #131414!important;
}

.nav-link{
    color: #eaeaf3!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #0e0d0d;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(76, 216, 33)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    border-radius: 0.9rem;
    transition: all 0.3s;
}

.btn-info:hover{
    padding: 20px;
    background-color: rgb(67, 83, 230)!important;
}
.table-light{
    background-color: #0d8513;
    color: #5720be;
}
.table{
    background-color: #0e0d0d;
}